 @{  Layout = "~/Shared/_Layout.cshtml";

	var db1 = Database.Open("Main") ; 
	var QueryString1 = "SELECT ExperimentDatabaseName FROM Setting WHERE Id=1"; 
	var dbname = db1.QueryValue(QueryString1);
	}
@{
	var db2 = Database.Open(dbname) ; 
	var QueryString2 = "SELECT * FROM Dummy2Table1"; 
	var data = db2.Query(QueryString2); 
	var grid = new WebGrid(data);
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Data</title>
    </head>
    <body>
      <h3>Data</h3>
<div id="grid"> 
@grid.GetHtml()
</div> 
    </body>
</html>
