@{
    Layout = "~/Shared/_Layout.cshtml";

    var db = Database.Open("Main") ; 
    var selectQueryString = "SELECT * FROM Experiment"; 
    var data = db.Query(selectQueryString); 

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="_Style.css">
        <title>Experiments</title>
    </head>
    <body>
      <h3>Experiments</h3>
       <br>
   <table>
       <thead>
           <tr>
			   <th> </th>
			   <th> </th>
               <th>Experiment ID</th>
			   <th>Name</th>
           </tr>
       </thead>
       <tbody>
           @foreach(var row in db.Query(selectQueryString)){
            <tr>
				<td><a href="@Href("ExperimentNotes", row.Id)"><button>Notes</button></a></td>
				<td><a href="@Href("Runs", row.Id, row.Name)"><button>Runs</button></a></td>
				<td>@row.Id</td>
				<td>@row.Name</td>
            </tr>
           }
       </tbody>
	</table>
    </body>
</html>
