@{
    Layout = "~/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>MTurk</title>
    </head>
    <body>
        This is a placeholder for future additions.
    </body>
</html>
