@{
	
	Layout = "~/Shared/_Layout.cshtml";

    var RunNum = Request["ID"];
	var ExpName = Request["EName"];

	var db = Database.Open("Main");
	var SelectQueryString = "SELECT Subject.Id, FName, LName FROM Subject JOIN SubjectRunJoin ON Subject.Id = SubjectID";
	var Subjects = db.Query(SelectQueryString);
   
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Run Subjects</title>
    </head>
    <body>
		Subjects
     <table> 
		@foreach(var row in Subjects){
			<tr> 
				<td>@row.Id</td>
				<td>@row.FName</td>
				<td>@row.LName</td>
		
			</tr> 
		}
</table> 
    </body>
</html>
